body {
    background-color: #f682fd;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    position: center;
    font-size: 200%;
    color: #f1f1f1;
}

h2 {
    font-family: 'Urbanist', sans-serif;
    position: center;
    font-size: 200%;
    color: #f1f1f1;
}

p {
    font-family: 'Urbanist', sans-serif;
    position: center;
    color: #f1f1f1;
}

ul {
    font-family: 'Urbanist', sans-serif;
    position: center;
    color: #f1f1f1;
}

a {
    color: white;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}